PORT=3000
CORS_ORIGIN=http://localhost:3001
JWT_SECRET=dev-gateway-secret-change-me

USER_SERVICE_URL=http://localhost:3002
CAR_SERVICE_URL=http://localhost:3003
RENTAL_SERVICE_URL=http://localhost:3004
